@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <p>Today is your lucky day, look at this!</p>
    <img src="~/img/hilton.jpg" height="400" />
</div>

<br/>

<div>
    <a asp-controller="Home" asp-action="Movie">Add your movies here</a>
</div>